/* Global Style Settings */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}
button {
    all: unset;
}
/* Basic Content and Layout Styles */
.background {
    background-color: black;
    height: 100%;
    width: 100%;
}
.content-head {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid rgb(40, 40, 40) 1px;
}
.content-title {
    font-size: 36px;
    color: white;
}
.content-body {
    height: 89%;
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
}
.doodle-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: auto;
}
/* Pen Color Controls */
.controls-left {
    border: solid rgb(40, 40, 40) 1px;
    border-radius: 8px;
    height: fit-content;
    width: fit-content;
    margin-left: 8px;
    display: flex;
    flex-direction: column;
}
.paint {
    border: solid rgb(40, 40, 40) 1px;
    border-radius: 4px;
    margin: 8px;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.color {
    height: 24px;
    width: 24px;
}
/* Paint Color Selection */
.color.white {
    background-color: white;
}
.color.black {
    border: dashed white 1px;
}
.color.red {
    background-color: red;
}
.color.green {
    background-color: green;
}
.color.blue {
    background-color: blue;
}
.color.yellow {
    background-color: yellow;
}
/* Grid Size and Background Controls*/
.controls-top {
    margin-bottom: 12px;
}
.button-set-scale, .button-clear-tiles, .button-rgb-mode {
    font-size: 24px;
    color: white;
    border: solid white 1px;
    border-radius: 8px;
    padding: 8px;
}
.button-set-scale:hover, .button-clear-tiles:hover, .button-rgb-mode:hover {
    background-color: rgb(40, 40, 40);
}
/* Grid Spacing */
.grid-space {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
}
.grid-row {
    all: unset;
    display: flex;
    flex: auto;
}
.grid-tile {
    display: flex;
    flex: auto;
    border: solid rgb(40, 40, 40) 1px;
}